<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.ncmashd.mapper.LostAndFoundMapper">
    <select id="getLostAndFoundPage" resultType="com.example.ncmashd.entity.LostAndFound">
       select *
       from lostandfound
        <where>
            <if test="type != null ">
                and type = #{type}
            </if>
            <if test="goodsName != null and goodsName != ''">
                and goodsName like concat('%',#{goodsName},'%')
            </if>
            <if test="time != null and time != ''">
                and time = #{time}
            </if>

        </where>
        limit #{page},#{size}

    </select>
    <select id="getLostAndFoundCount" resultType="java.lang.Long">
        select count(*)
        from lostandfound
    </select>
    <select id="getLostAndFoundInfoById" resultMap="LostAndFoundResultMap">
        select
            l.*,
            u.username,u.avatar,u.id
        from lostandfound l left join user u on l.userid = u.id
        where l.id = #{id}

    </select>
    <select id="getLostAndFoundCommentsById" resultMap="getLostAndFoundCommentsMap">
        select
            cot.*,
            u.username,u.avatar,u.id
        from comments cot left join user u on cot.userid = u.id
        where cot.postid = #{id}
    </select>
    <resultMap id="getLostAndFoundCommentsMap" type="com.example.ncmashd.entity.Comments">
        <id column="id" property="id" />
        <result column="userid" property="userid" />
        <result column="postid" property="postid" />
        <result column="commentContent" property="commentContent" />
        <result column="publishTime" property="publishTime" />
        <association property="user" javaType="com.example.ncmashd.entity.User">
            <id column="id" property="id" />
            <result column="username" property="username" />
            <result column="password" property="password" />
            <result column="avatar" property="avatar" />
            <result column="Permissions" property="Permissions" />
        </association>
    </resultMap>


    <resultMap id="LostAndFoundResultMap" type="com.example.ncmashd.entity.LostAndFound">
        <id column="id" property="id" />
        <result column="goodsName" property="goodsName" />
        <result column="address" property="address" />
        <result column="time" property="time" />
        <result column="imageUrl" property="imageUrl" />
        <result column="description" property="description" />
        <result column="name" property="name" />
        <result column="userid" property="userid" />
        <result column="ContactInformation" property="ContactInformation" />
        <result column="type" property="type" />
        <association property="user" javaType="com.example.ncmashd.entity.User">
            <id column="id" property="id" />
            <result column="username" property="username" />
            <result column="password" property="password" />
            <result column="avatar" property="avatar" />
            <result column="Permissions" property="Permissions" />
        </association>
    </resultMap>

</mapper>